[package]
name = "rmf-static"
version.workspace = true
authors.workspace = true
edition.workspace = true
license-file.workspace = true

[features]
default = ["default_link_system_dependencies"]
default_link_static_dependencies = ["general_features"]
default_link_system_dependencies = ["general_features", "link_system_ffmpeg"]
general_features = ["photon_image_as_default", "ffmpeg_audio_as_default"]
ffmpeg_audio_as_default = ["use_ffmpeg"]
use_ffmpeg = ["dep:rsmpeg", "dep:rusty_ffmpeg"]
link_system_ffmpeg = ["rusty_ffmpeg/link_system_ffmpeg"]
photon_image_as_default = ["use_photon"]
use_photon = ["dep:photon-rs"]

[dependencies]
anyhow.workspace = true
derive-new.workspace = true
photon-rs = { version = "0.3.3", optional = true }
rmf-core = { path = "../rmf-core" }
rmf-macros = { path = "../rmf-macros" }
rsmpeg = { version = "0.18.0", optional = true }
rusty_ffmpeg = { version = "0.16.7", optional = true }

[dev-dependencies]
rstest.workspace = true
pretty_assertions.workspace = true
