[package]
name = "rmf-macros"
version.workspace = true
authors.workspace = true
edition.workspace = true
license-file.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn.workspace = true
