[package]
name = "rmft"
version.workspace = true
authors.workspace = true
edition.workspace = true
license-file.workspace = true

[dependencies]
anyhow.workspace = true
iced = { version = "0.14.0", features = ["canvas", "image", "tokio"] }
rmf-host = { path = "../../frameworks/rmf-host" }
